{% comment %} Choose a plan started {% endcomment %}
  <select-addons>
    <div class="d-none mt-8 mt-lg-12" data-selector="3">
​
        <div class="row">
            {% assign collection = block.settings.sub_collection %}
            <div class="col-lg-12 p-5 p-lg-8 shadow">
                {% if block.settings.heading != '' %}
                    <h2 class="text-center text-uppercase pb-1">
                        {{ block.settings.heading }}
                    </h2>
                    {% endif %}
                    {% if block.settings.subheading != '' %}
                      <h5 class="text-center">
                          {{ block.settings.subheading }}
                      </h5>
                      {% endif %}
                <div class="row pt-lg-6">
                    {% for product in collection.products %}
                        <div class="col-lg-3">
                            {% if product.available %}
                                {% render 'addon-card-funnel', product: product %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="text-end">
          <a href="#" class="btn btn-primary mt-4" data-save_addon data-next_selector="4">{{ 'subscription_funnel_box.next' | t }}</a>
        </div>
    </div>
​
  </select-addons>
{% comment %} Choose a plan end {% endcomment %}